*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

html{
    font-size: 16px; //base de cálculo para o REM
}

body{
    background-color: $gray-dark;     
}

a{
    text-decoration: none;
}